body {
    padding: 0px;
    Margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
    width: 300px !important;
    height: 50px !important;
    margin-top: 20px;
}

.search-btn {
    height: 50px !important;
    margin-top: 20px;
}

.trvlrRedBg {
    background-color: #E34728;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.whiteSmokeText {
    color: whitesmoke;
}

.mobilSection {
    padding: 6.5%;
    border: solid 1px black;
    border-radius: 10px;
}

.mobilHeader {
    color: whitesmoke;
    background-color: #486FB5;
    text-align: center;
    padding: 2%;
}

.mobilBgImage {
    background-image: url("../images/train_line.png")
}

.selectTrain {
    margin-top: 88%;
    color: whitesmoke;
    background-color: #E34728;
    padding: 3% 0;
}

.emptyRow {
    padding: 5% 0;
}

.whiteSmokeBg {
    background-color: whitesmoke;
}

.liveStatus {
    padding: 5% 4% 0 0;
    font-size: 16px;
}

.logo {
    height: 100px;
    width: 100px;
}

.introText {
    font-size: 5.5vw;
    color: #585858;
    padding: 5%;
}

.introTextBg {
    background-color: #E5E6E1;
}

.btnRow {
    padding: 5% 0 8% 0;
}

.brdr {
    border: solid 1px red;
}

.boardingAtFont {
    padding-top: 2%;
    color: #E34728;
    font-weight: bold;
}

.boardingAt {
    padding-top: 3%;
    font-weight: bold;
}

.runningStatus-top {
    font-size: 18px;
    background-color: #486FB5;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.runningStatus-bottom {
    font-size: 18px;
    background-color: #486FB5;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.cancelledStatus-bottom {
    font-size: 10px;
    background-color: #486FB5;
    color: white;
    padding: 1% 0% 5% 0%;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.cancelledList {
    font-size: 12px;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    text-align: left;
}

.input {
    margin-top: 20px;
    padding: 0px 50px 0px 50px;
}
.topNavigationBar{
    padding: 0.5%;
    background-color: #E34728;
}

.nav-pills>li {
    background-color: white;
    margin-left: 2%!important;
}
.nav>li>a {
    padding: 5px 5px;
    border-radius: 0px!important;
}

.enquiryCorner{
    float: left;
    padding: 0.5% 2% 0.5% 1%;
    color: white;
}
.outerDiv {
    padding: 0% 25% 10% 20%;
    border-right: 0.5px solid #be9e9e;
    margin-top: 7%;
    margin-bottom: 5%;
}
.cancelledOuterDiv {
    padding: 0% 15% 10% 15%;
    border-right: 0.5px solid #be9e9e;
    margin-top: 7%;
    margin-bottom: 5%;
}
.updatesTitle{
    color: gray;
}
.rightContainer{
    margin-top:50px;
    text-align: center;
}

.mainContainer{
   background-image: url("../images/bg.png")
}

.btn-group-sm button {
    color: #486FB5;;
}
.track {
    background-image: url("../images/track.png");
    height: 49px;
    margin-top: -5px;
    min-width: 480px;
    margin-left: -140px;
}

.bottom-div {
    border: 1px solid black;
    padding: 20px;
}


.diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #b09d9d;
    position: relative;
    top: -50px;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #b09d9d;
}

.circle {
    width: 50px;
    height: 50px;
    background: blue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: -25px;
    z-index: 100;
    position: absolute;
}
.rectangle {
    width: 50px;
    height: 25px;
    margin-top: 12px;
    background: #E34728;
    z-index: 200;
    position: absolute;
    padding: 5px;
}

.stationName{
    color: white;
}