body {
    padding: 0px;
    Margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.trvlrRedBg {
    background-color: #E34728;
}

.whiteSmokeText{
    color: whitesmoke;
}
.whiteSmokeBg{
    background-color: whitesmoke;
}
.liveStatus {
    padding-top: 80px;
    padding-right: 60px;
    font-size: 16px;
}

.logo {
    height: 100px;
    width: 100px;
}

.introText {
    font-size: 85px;

    color: #585858;
    padding-top: 50px;
}

.introTextBg {
    background-color: #E5E6E1;
}

.bluebg {
    background-color: #486FB5;
}

.btnRow {
    padding-top: 60px;
    padding-bottom: 80px;
}

.brdr {
    border: solid 1px red;
}

.boardingAtFont{
    padding-top: 10px;
    color: #E34728;
    font-weight: bold;
}

.runningStatus-top {
    font-size: 18px;
    background-color: #486FB5;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
.runningStatus-bottom {
    font-size: 18px;
    background-color: #486FB5;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.cancelledStatus-bottom {
    font-size: 10px;
    background-color: #486FB5;
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.cancelledList {
    font-size: 12px;
    height: 350px;
    overflow-y: scroll;
    padding:10px;
    text-align: left;
}
.input {
    margin-top: 20px;
    padding: 0px 50px 0px 50px;
}